

/* All  common css start */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: "Poppins", sans-serif;
    
}
a{
    text-decoration: none;
}
ul
li{
    list-style-type: none;
}
.container{
    width: 1210px;
    margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
    line-height: 0.8;

    
}
/* All  common css end */
/* Haderpart start */
#haderPart{
    background-color:#F9F9FC;
    padding: 10px;
}
.hader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul{
    display: flex;
    line-height: 70px;

}
.menu a{
    padding: 0px 25px;
    font-size: 14px;
font-weight: 400;
text-transform: uppercase;
color: black;
font-size: 14px;
}
.button a{
    padding: 10px  20px;
    background: #5E3BEE;
border-radius: 50px;
color: white;

}
.button i{
    margin-left: 7px!important;
}
.menu a:hover{
    color:tomato;
    transition: .4s;
}
.button a:hover{
    color: tomato;
    transition: .4s;} 
    /* Haderpart end */
  /* Bannerpart start */
#BannerPart{
    background-color:#F9F9FC;
    padding: 10px;;
    padding-top: 15px;
padding-bottom: 60px;}
.BannerFlex{
    display: flex;
    justify-content: space-between;
    
}
.BannerLeft{
   width: 50%; 
 
}
.BannerRight{
    width: 50%;
}
.BannerRight img{
    width: 100%; 
}
.BannerLeft h4{
    font-size: 16px;
    color:#5E3BEE;
    text-transform: uppercase;
      font-weight: 500;
      padding-top: 115px;
      padding-bottom: 50px;
}
.BannerLeft h1{
    font-size: 60px;
    color:#333333;
    text-transform: uppercase;
      font-weight: 700;
      line-height: 78px;
      padding-bottom: 30px;
}
.button i{
    margin-left: 0;
    margin-right: 10px!important;
}
.bannerBtn a:hover{
    background: transparent;
        transition: .4s;
    
}
  /* Bannerpart end*/
    /* counterpart start */
#CounterPart{
    
    padding:90px 0px ;
}
.CounterFlex{
    display: flex;
    justify-content: space-between;
}
.CounterItem{
    width: 25%;
 
    padding: 25px;
    text-align: center;
   text-transform: uppercase;
}
.CounterItem h3{
    font-size: 48px;
    font-weight: 600;
    color: #000000;
    padding-bottom: 10px;
}
.CounterItem h4{
    font-size: 16px;
    font-weight: 500;
    color: rgba(18, 18, 18, 0.7);
}
  /* counterpart  end */
    /* discriptionpart start */
.discription1{
    text-align: center;
}
.discription1 h4{
    font-size: 16px;
    font-weight: 500;
    color: #5E3BEE;
    padding-top: 60px;
}
#discription{
    

}
.discription1 h2{
     font-size: 44px;
    font-weight: 600;
    color: #000000;
    padding-top: 30px;
}
.discription1 h5{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 38px;
    color: hsl(0, 0%, 7%);
}
.div1{
    width: 376px;
    height:286px ;
    background-color:white;
    border-radius: 20px;
    margin-top: 70px;
    text-align: center;
 box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05),
            0 6px 15px rgba(0, 0, 0, 0.03);
transition: all linear.4s;


}
.div2{
    width: 376px;
    height:286px ;
    background-color: white;
    border-radius: 20px;
        margin-top: 70px;
        text-align: center;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05),
            0 6px 15px rgba(0, 0, 0, 0.03);
            transition: all linear.4s;

        
}
.div3{
    width: 376px;
    height:286px ;
    background-color:white;
    border-radius: 20px;
        margin-top: 70px;
        text-align: center;
 box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05),
            0 6px 15px rgba(0, 0, 0, 0.03);
transition: all linear.4s;
    
}
.discriptionFlex{
    display: flex;
    justify-content: space-between;
}
.div1 img{
    padding-top: 53px;
}
    .div1 h4{
        font-weight: 500;
        font-size: 20px;
        color: #000000;
        padding-top: 46px;
    }
    .div1 h5{
        font-weight: 400;
        font-size: 16px;
        color: hsl(0, 0%, 7%) ;
        padding-top: 31px;
        line-height: 23px;
    }
.div2 img{
    padding-top: 53px;
}
    .div2 h4{
        font-weight: 500;
        font-size: 20px;
        color: #000000;
        padding-top: 46px;
    }
    .div2 h5{
        font-weight: 400;
        font-size: 16px;
        color: hsl(0, 0%, 7%) ;
        padding-top: 31px;
        line-height: 23px;
    }
.div3 img{
    padding-top: 53px;
}
    .div3 h4{
        font-weight: 500;
        font-size: 20px;
        color: #000000;
        padding-top: 46px;
    }
    .div3 h5{
        font-weight: 400;
        font-size: 16px;
        color: hsl(0, 0%, 7%) ;
        padding-top: 31px;
        line-height: 23px;
    }
    .div1:hover{
transform: scale(1.1);
    }
 .div2:hover{
transform: scale(1.1);
    }
 .div3:hover{
transform: scale(1.1);
    }
        /* discriptionpart end */
        .divone h4{
          font-size: 16px;
          padding-top: 115px;
    font-weight: 500;
    color: #5E3BEE;   
        }
          .divone h3{
            font-size: 60px;
            padding-top: 56px;
            font-weight: 700;
            color: #333333;
            line-height: 80px;
            
            
          }
          .container{
            color:#F9F9FC ;
          }
          .buttonbannerBtn a{
            
             padding: 10px  20px;
    background: #5E3BEE;
border-radius: 50px;
color: white;


          }
.divone h5{
    font-size: 16px;
    font-weight: 400;
line-height: 21px;
    padding-top: 38px;
    color: rgba(18, 18, 18, 0.70);
}

    

.buttonbannerBtn{
    padding-top:44px ;
}
.box{
    width: 1439px;
    height: 778px;
    background-color: #F9F9FC;
    margin: 0 auto;
    margin-top: 140px;
    
    
    
}
.justify{
    justify-content: space-between;
}
.buttonbannerBtn i{
    margin-right: 10px;
}


    
    
 
  


    

.box1 {
    display: flex;


}
.CounterItem1 img{
    padding-top: 138px;
}
.CounterItem2 img{
    padding-top: 138px;
}
.CounterItem3 img{
    padding-top: 138px;
}
.CounterItem4 img{
    padding-top: 138px;
}
.slected2{
    width: 1243.73px;
    height: 1311px;
    background-color: white;
    
    margin: 120px;
    margin-left: 570px;

    

}
.writing1 h4{
    font-size: 16px;
          padding-top: 65px;
    font-weight: 500;
    color: #5E3BEE;   
}
.writing1 h3{
    font-size: 44px;
          padding-top: 36px;
    font-weight: 600;
    color:#000000;   
}
  
.writing1 h5{
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: rgba(18, 18, 18, 0.70);
    padding-left: 650px;
    padding-right: 67px;
    margin-top: -43px;

    
}
.play1{
    width:583px ;
    height:532px ;
    background-color: white;
    border-radius: 20px;
    margin-top: 62px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15),
            0 6px 15px rgba(0, 0, 0, 0.09);
}
 .play2{
    width: 583px;
    height: 389px;
    background-color: #c4c4c4;
       border-radius: 20px;
       box-shadow: 0 10px 30px rgba(0, 0, 0, 0.09),
            0 6px 15px rgba(0, 0, 0, 0.05);

 }
 .play3{
    width:583px ;
    height:532px ;
    background-color: white;
    border-radius: 20px;
    margin-top: 62px;
     box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15),
            0 6px 15px rgba(0, 0, 0, 0.09);
}
 .play4{
    width: 583px;
    height: 389px;
    background-color: #c4c4c4;
       border-radius: 20px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.09),
            0 6px 15px rgba(0, 0, 0, 0.05);


 }
 .slectedFlex{
    display: flex;
    column-gap: 41px;
 }
 .play5{
    width:583px ;
    height:532px ;
    background-color: white;
    border-radius: 20px;
    margin-top: 44px;
     box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15),
            0 6px 15px rgba(0, 0, 0, 0.09);
}
 .play6{
    width: 583px;
    height: 389px;
    background-color: #c4c4c4;
       border-radius: 20px;
       box-shadow: 0 10px 30px rgba(0, 0, 0, 0.09),
            0 6px 15px rgba(0, 0, 0, 0.05);

 }
 .play7{
    width:583px ;
    height:532px ;
    background-color: white;
    border-radius: 20px;
    margin-top: 44px;
     box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15),
            0 6px 15px rgba(0, 0, 0, 0.09);
}
 .play8{
    width: 583px;
    height: 389px;
    background-color: #c4c4c4;
       border-radius: 20px;
         box-shadow: 0 10px 30px rgba(0, 0, 0, 0.09),
            0 6px 15px rgba(0, 0, 0, 0.05);

 }
 .slectedFlex2{
    display: flex;
    column-gap: 41px;
 }
.play1 h3{
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    padding-top: 44px;
    padding-left: 48px;

}
.play1 h5{
    font-size: 16px;
    font-weight: 400;
    color: rgba(18, 18, 18, 0.70);
    padding-top: 23px;
    padding-left: 48px;
}
.play3 h3{
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    padding-top: 44px;
    padding-left: 48px;

}
.play3 h5{
    font-size: 16px;
    font-weight: 400;
    color: rgba(18, 18, 18, 0.70);
    padding-top: 23px;
    padding-left: 48px;
}
.play5 h3{
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    padding-top: 44px;
    padding-left: 48px;

}
.play5 h5{
    font-size: 16px;
    font-weight: 400;
    color: rgba(18, 18, 18, 0.70);
    padding-top: 23px;
    padding-left: 48px;
}
.play7 h3{
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    padding-top: 44px;
    padding-left: 48px;

}
.play7 h5{
    font-size: 16px;
    font-weight: 400;
    color: rgba(18, 18, 18, 0.70);
    padding-top: 23px;
    padding-left: 48px;
}





